<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="true" scanPeriod="10 seconds">

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!--开发环境-->
    <springProfile name="dev">
        <property name="LOG_FILE" value="./logs/spring-boot-background.log"/>
    </springProfile>
    <!--测试环境-->
    <springProfile name="test">
        <property name="LOG_FILE" value="/data/logs/background/background.log"/>
    </springProfile>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <!--开发环境-->
    <springProfile name="dev">
        <!-- show sql-->
        <logger name="cn.lzg.springboot.background.demo.dao" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <!--测试环境-->
    <springProfile name="test">
        <root level="ERROR">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>